* {
  margin: 0;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div {
  display: flex;
  flex-direction: column;
  background-color: black;
  text-align: center;
}
h3 {
  color: gold;
  border: 3px solid goldenrod;
  padding: 30px 0px;
  font-family: "Courier New", Courier, monospace;
}
button {
  font-family: monospace;
  font-size: 20px;
  height: 50px;
  transition: 200ms;
  background-color: goldenrod;
}
button:hover {
  background-color: rgb(185, 143, 35);
}
button:active {
  background-color: rgb(128, 104, 44);
}
